body {
	background-image: url("../pics/art.jpg");
}

#cardlogin {
	margin: 100 auto; /* Added */
	float: none; /* Added */
	margin-top: 100px; /* Added */
	max-width: 600px;
	/* 	height: 500px; */
}

/* #historyModal { */
/* 	width: 700px; */
/* } */
/* @media screen and (min-width: 992px) { */
/* 	.modal-lg { */
/* 		width: 950px; New width for large modal */
/* 	} */
/* } */

/* #historyModal { */
/*   width: 1100px; */
/*   margin: auto; */
/* } */

@media screen and (min-width: 992px) {
        .modal-lg {
          width: 950px; /* New width for large modal */
        }
    }


.card-deck {
	margin-top: 150px;
	margin-left: 170px;
	width: 1000px;
	height: 300px;
}

#accordion {
	margin-left: 200px;
	margin-top: 50px;
	width: 1200px;
}

img {
	width: 250px;
	height: 400px;
}