body {
	background-image: url("../pics/art.jpg");
}

#cardlogin {
	margin: 100 auto; /* Added */
	float: none; /* Added */
	margin-top: 100px; /* Added */
	max-width: 600px;
/* 	height: 500px; */
}

#carddeck {
	margin-top: 150px; /* Added */
	width: 1000px;
	height: 300px;
}

img {
	width: 250px;
	height: 400px;
}

/* #info { */
/* 	background-image: url("../pics/edit.png"); */
/* 	height: 300px; */
/* } */

/* #history { */
/* 	background-image: url("../pics/history.png"); */
/* } */

/* #request { */
/* 	background-image: url("../pics/submit.png"); */
/* } */

