<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns="http://java.sun.com/xml/ns/javaee"
	xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
	version="2.5">
	<display-name>ers</display-name>
	<welcome-file-list>
		<welcome-file>index.html</welcome-file>
		<welcome-file>index.htm</welcome-file>
		<welcome-file>index.jsp</welcome-file>
		<welcome-file>default.html</welcome-file>
		<welcome-file>default.htm</welcome-file>
		<welcome-file>default.jsp</welcome-file>
		<welcome-file>login.html</welcome-file>
	</welcome-file-list>
	<servlet-mapping>
		<servlet-name>default</servlet-name>
		<url-pattern>/</url-pattern>
	</servlet-mapping>
	<context-param>
		<param-name>HRCODE</param-name>
		<param-value>abcde1234</param-value>
	</context-param>

	<servlet>
		<description></description>
		<display-name>Login</display-name>
		<servlet-name>Login</servlet-name>
		<servlet-class>servlets.Login</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>Login</servlet-name>
		<url-pattern>/login</url-pattern>
	</servlet-mapping>
	<servlet>
		<description></description>
		<display-name>UserInfo</display-name>
		<servlet-name>UserInfo</servlet-name>
		<servlet-class>servlets.UserInfo</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>UserInfo</servlet-name>
		<url-pattern>/user/info</url-pattern>
	</servlet-mapping>
	<servlet>
		<description></description>
		<display-name>Requesting</display-name>
		<servlet-name>Requesting</servlet-name>
		<servlet-class>servlets.Requesting</servlet-class>
		<load-on-startup>1</load-on-startup>
	</servlet>
	<servlet-mapping>
		<servlet-name>Requesting</servlet-name>
		<url-pattern>/reqg</url-pattern>
	</servlet-mapping>
	<servlet>
		<description>Retrieving all requests</description>
		<display-name>Requests</display-name>
		<servlet-name>Requests</servlet-name>
		<servlet-class>servlets.Requests</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>Requests</servlet-name>
		<url-pattern>/reqs</url-pattern>
	</servlet-mapping>
	<servlet>
		<description></description>
		<display-name>PageOut</display-name>
		<servlet-name>PageOut</servlet-name>
		<servlet-class>servlets.PageOut</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>PageOut</servlet-name>
		<url-pattern>/out</url-pattern>
	</servlet-mapping>
	<servlet>
		<description></description>
		<display-name>Home</display-name>
		<servlet-name>Home</servlet-name>
		<servlet-class>servlets.Home</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>Home</servlet-name>
		<url-pattern>/home</url-pattern>
	</servlet-mapping>
</web-app>